footer.footer
    .social-links
        a.social-links__link.modal-toggle(href='#whatsapp-modal')
            i.social-links__icon.social-links__icon_whatsapp
        a.social-links__link(href='https://t-do.ru/betmafia' target="_blank")
            i.social-links__icon.social-links__icon_telegram
        a.social-links__link(href='https://vk.me/gbetmafia' target="_blank")
            i.social-links__icon.social-links__icon_vk
        a.social-links__link(href='https://www.instagram.com/betmafia/' target="_blank")
            i.social-links__icon.social-links__icon_instagram
    .services.container
        a.services__link(href="#")
            img.services__img(src=require('../../img/app_store.png'), alt="сервис")
        a.services__link.services__link_first(href="#")
            img.services__img(src=require('../../img/logoblack.png'), alt="сервис")
        -var list = ['google_app.png', 'yandex.png', 'visa.png', 'mobile.png']
        each val in list
            a.services__link(href="#")
                img.services__img(src=require(`../../img/${val}`), alt="сервис")
    span.footer__copyright
        |Все права защищены. Betmafia ©  2015-2018
