.top-panel.container
  .logo лого
  label.menu-button
    input.menu-button__checkbox(type="checkbox")
    i.menu-button__icon
  nav.nav
    ul.menu
      each val in ['Прогнозы', 'Отзывы', 'Гарантии', 'Франшиза', 'О нас']
        li.menu__item= val
    .social-links
      each val in ['v', 't', 'vk', 'i']
        a.social-links__link(href='#')
          i.social-links__icon.social-links__link_=val