.about
  min-height 632px
  padding-bottom 50px
  box-sizing border-box
  &__title
    caption()
  &__description
    display flex
  &__text
    flex-grow 1
    font-style italic
  &__video
    width 600px
    height 300px
    min-width 600px
    border 1px solid #000