.about
  min-height 632px
  padding-bottom 50px
  box-sizing border-box
  &__title
    caption()
  &__description
    display flex
    flex-wrap wrap
    justify-content center
  &__text
    color #696969
    min-width 300px
    max-width wcontainer - about-video
    font-style italic
    padding 10px
    box-sizing border-box
  &__video
    flex-grow 1
    flex-basis about-video
    max-width about-video
    border 1px solid #000
    box-sizing border-box
