.become-partner
  box-sizing border-box
  background-attachment fixed
  background-size cover
  background-position center center
  background-repeat repeat
  background-image url("../img/become-partner_bg.jpg")
  text-align center
  &__blackout
    background-color rgba(255, 255, 255, 0.521569)
    padding 50px 0
    min-height 588px
    box-sizing border-box
  &__title
    caption()
  &__text
    font-size 16px
    font-weight 700
  &__inputs
    display flex
    flex-wrap wrap
    justify-content center
  &__name,
  &__email,
  &__phone,
  &__submit
    margin 5px
    border-radius 5px
    padding 5px
    outline none
    border 1px solid #ccc
  &__submit
    background-color rgb(3, 3, 3)
    border 2px solid rgb(2, 2, 2)
    color #fff
    font-size 16px
    padding 8px 16px
    line-height 1.4em
    
.captcha
  width 300px
  height 100px
  box-sizing border-box
  background-color #e7e7e7
  margin 18px auto