.modal
  position fixed
  width 100%
  height 100%
  left 0
  top 0
  z-index 1000
  justify-content center
  align-items center
  background rgba(0,0,0, 0.5)
  &-close
    position absolute
    top -8px
    right 4px
    padding 10px
    font-size 2rem
    cursor pointer
  &-title
    text-align center
    font-weight 300
  &-content
    position relative
    background #fff
    padding 20px
    font-weight 300
    color: #333
  &_active
    display flex

.whatsapp-modal__phone
  font-size 30px
  text-decoration none
  color #000

.divider
  display none
