.footer
  position relative
  min-height 510px
  padding 30px 15px 60px 15px
  box-sizing border-box
  background-color #050b10
  color: #fff
  text-align center
  &__copyright
    position absolute
    left 0
    right 0
    bottom 30px
    padding 5px 15px
    font-size 12px
