@media (min-width 768px)
  .header
    &__title
      font-size ttitle
    &__blackout
      padding 140px 0 80px 0
    &__title-divider
      display none
  .forecasts
    &__title
      font-size ttitle
