section.about
    h3.about__title кто мы такие?
    .about__description.container
        .about__text
            p
            | Проект бетмафия основан в 2015 году. В нашей команде на данный момент 7 капперов. Каждый специалист в своём виде спорта и даже отдельной лиге. За месяц мы выпускаем около 120 прогнозов с проходимостью 87%.
            p
            | Betmafia- это в первую очередь работа с клиентами. Каждого, кто начинает с нами работу мы обязуемся вывести в плюс. Не страшно если вы только пришли в мир ставок. Наш менеджер поможет вам сделать правильные первые шаги в этом деле: поможет выбрать надёжную  букмекерскую контору и правильно распределить игровой банк, объяснит термины и основные понятия мира ставок.

        .about__video.lazyframe(data-src="https://www.youtube.com/embed/ZWme2jOC30E?rel=0", data-vendor="youtube", data-title="Основатель проектов Betmafia")
            img.lazyframe__image(src=require('../../img/about_bg.jpg'), alt="")
