section.become-partner
  .become-partner__blackout
    h3.become-partner__title бизнес с прогнозами на спорт
    form.container
      input(type="text")
      input(type="email")
      input(type="tel")
      .captcha
      input(type="button")