section.become-partner#become-partner
  .become-partner__blackout
    h3.become-partner__title Бизнес с прогнозами на спорт
    .become-partner__text
      p
        | Создавайте аналогичную компанию по продаже прогнозов на спорт.
      p
        | Мы обеспечим Вас всем необходимым.
    form.container
      .become-partner__form-row
        .become-partner__controls
          input.become-partner__phone(type="tel", placeholder="Ваш телефон")
      .become-partner__form-row
        .g-recaptcha.become-partner__captcha(data-sitekey='6LfxoVoUAAAAAPzINALVJaZ-4sp6eLmg-xux8o6G')
      .become-partner__form-row
        a.become-partner__submit(href="#", data-click-goal="become-partner") Стать партнером
  .become-partner__divider
    include ../layout/_left-divider
