section.forecasts
  h3.forecasts__title прогнозы
  .forecasts-purchase
    .forecasts-purchase__item купить
    .forecasts-purchase__item купить
    .forecasts-purchase__item купить
    .forecasts-purchase__item купить
    .forecasts-purchase__item купить
    .forecasts-purchase__item купить