section.forecasts
  h3.forecasts__title прогнозы
  .forecasts-purchase.container
    .forecasts-purchase__item
      img.forecasts-purchase__picture(src="#")
      span.forecasts-purchase__name
        | Английская Премьер Лига
      .forecasts-purchase__price
        | 1956 руб.
      .forecasts-purchase__buy Купить
    .forecasts-purchase__item
      img.forecasts-purchase__picture(src="#")
      span.forecasts-purchase__name
        |Германия. Бендеслига
      .forecasts-purchase__price
        | 1956 руб.
      .forecasts-purchase__buy Купить
    .forecasts-purchase__item
      img.forecasts-purchase__picture(src="#")
      span.forecasts-purchase__name
        | США. НХЛ
      .forecasts-purchase__price
        | 1956 руб.
      .forecasts-purchase__buy Купить
    .forecasts-purchase__item
      img.forecasts-purchase__picture(src="#")
      span.forecasts-purchase__name.forecasts-purchase__name_big
        | 1 прогноз
      .forecasts-purchase__price
        | 1000 руб.
      .forecasts-purchase__buy Купить
    .forecasts-purchase__item
      img.forecasts-purchase__picture(src="#")
      span.forecasts-purchase__name.forecasts-purchase__name_big
        | 1 неделя
      .forecasts-purchase__price.forecasts-purchase__price_sale
        | 9900 руб.
      .forecasts-purchase__buy Купить
    .forecasts-purchase__item
      img.forecasts-purchase__picture(src="#")
      span.forecasts-purchase__name.forecasts-purchase__name_big
        | 1 месяц
      .forecasts-purchase__price.forecasts-purchase__price_sale
        | 24000 руб.
      .forecasts-purchase__buy Купить