section.guarantees
  h3.guarantees__title
    |какие гарантии мы даем?
  .guarantees-info
    .guarantees-info__item 1
    .guarantees-info__item 2
    .guarantees-info__item 3
    .guarantees-info__item 4
    .guarantees-info__item 5
    .guarantees-info__item 6