header.header
    h1.header__title Прогнозы на спорт
    .advantages.container
        .advantages__item
            img.advantages__item-icon(src=require("../../svg/stat.svg").url, alt="Высокие коэфициенты событий")
            .advantages__item-text Высокие коэфициенты событий
        .advantages__item
            img.advantages__item-icon(src=require("../../svg/brain.svg").url, alt="15 лет суммарного опыта нашей команды")
            .advantages__item-text 15 лет суммарного опыта нашей команды
        .advantages__item
            img.advantages__item-icon(src=require("../../svg/money.svg").url, alt="Уверенные прогнозы, на которые мы ставим сами")
            .advantages__item-text Уверенные прогнозы, на которые мы ставим сами
    .button-next
        i.button-next__icon