header.header

  h1.header__title
    | прогнозы на спорт
  .advantages
    .advantages__item Высокие коэфициенты событий
    .advantages__item 15 лет суммарного опыта нашей команды
    .advantages__item Уверенные прогнозы, на которые мы ставим сами
    .button-next далее