header.header
    .header__video-container
        .header__video-box
            .header__video.youtube-video(data-video-id="N3O0-EQSKuw", data-repeat="1")
    .header__blackout
        h1.header__title ПРОГНОЗЫ НА СПОРТ
        .advantages.container
            figure.advantages__item
                img.advantages__item-icon(src=require("../../svg/stat.svg").url, alt="Высокие коэфициенты событий")
                figcaption.advantages__item-text Высокие коэфициенты событий
            figure.advantages__item
                img.advantages__item-icon(src=require("../../svg/brain.svg").url, alt="15 лет суммарного опыта нашей команды")
                figcaption.advantages__item-text 15 лет суммарного опыта нашей команды
            figure.advantages__item
                img.advantages__item-icon(src=require("../../svg/money.svg").url, alt="Уверенные прогнозы, на которые мы ставим сами")
                figcaption.advantages__item-text Уверенные прогнозы, на которые мы ставим сами
        .button-next
            i.button-next__icon

        .header__divider
            include ../layout/_left-divider
