mixin modal(identity, title)
    .modal(id= identity)
        .modal-content
            .modal-close &times;
            .modal-header
                h3.modal-title= title
            .modal-body
                if block
                    block
mixin forecast-modal(id, title, desc, price)
    +modal(id, 'Оплата')
        p
            | Оплата прогноза: #{title}.
            br
            | #{title} рублей.
        iframe(frameborder='0', allowtransparency='true', scrolling='no', src='https://money.yandex.ru/quickpay/shop-widget?account=410012786441685&quickpay=shop&payment-type-choice=on&mobile-payment-type-choice=on&writer=seller&targets='+ encodeURIComponent('Покупка прогноза Betmafia. ' + desc) +'&default-sum='+ price +'&button-text=01&fio=on&mail=on&phone=on&successURL=http%3A%2F%2Fbetmafia.ru%2Fthankyou.html', width='450', height='250')

+forecast-modal('forecasts_pl', 'Английская Премьер Лига', 'АПЛ', 1000)
+forecast-modal('forecasts_bl', 'Германия. Бендеслига', 'Бендеслига',1000)
+forecast-modal('forecasts_usa', 'США. НХЛ', 'НХЛ', 1000)
+forecast-modal('forecasts_1time', '1 прогноз', '1 прогноз',1000)
+forecast-modal('forecasts_1week', '1 неделя', '1 неделя',9900)
+forecast-modal('forecasts_1month', '1 месяц', '1 месяц',24000)

+modal('whatsapp-modal', 'Напишите нам в WhatsApp')
    a.whatsapp-modal__phone(href="https://api.whatsapp.com/send?phone=79388659997", target="_blank") +7 (938) 865-99-97
