@import "fonts.styl"

/*
  общие стили для тегов, общие классы
  их, по идее, должно быть немного
*/
@import "critical/common.styl"
// стили для соответствующего разрешения
@import "critical/mobile.styl"
@import "critical/tablet.styl"
@import "critical/desktop.styl"
