@import "_util/variables.styl"
@import "_util/mixins.styl"

// подключаем отдельные блоки десктоп верстки

@import "desktop/top-panel.styl"
@import "desktop/feedback.styl"
@import "desktop/guarantees.styl"
@import "desktop/become-partner.styl"
@import "desktop/about.styl"
@import "desktop/footer.styl"
