@import "_util/variables.styl"
@import "_util/mixins.styl"

// подключаем отдельные блоки десктоп верстки
@import "desktop/header.styl"
@import "desktop/forecasts.styl"
@import "desktop/feedback.styl"
@import "desktop/become-partner.styl"
@import "desktop/about.styl"