@import "_util/variables.styl"
@import "_util/mixins.styl"

// подключаем отдельные блоки мобильной верстки

@import "mobile/feedback.styl"
@import "mobile/guarantees.styl"
@import "mobile/become-partner.styl"
@import "mobile/about.styl"
