@import "_util/variables.styl"
@import "_util/mixins.styl"

// подключаем отдельные блоки мобильной верстки
@import "mobile/header.styl"
@import "mobile/forecasts.styl"
@import "mobile/feedback.styl"
@import "mobile/become-partner.styl"
@import "mobile/about.styl"
