@import "_util/variables.styl"
@import "_util/mixins.styl"

// подключаем отдельные блоки десктоп верстки

@import "tablet/top-panel.styl"
@import "tablet/feedback.styl"
@import "tablet/guarantees.styl"
@import "tablet/become-partner.styl"
@import "tablet/about.styl"
@import "tablet/footer.styl"
