@import "_util/variables.styl"
@import "_util/mixins.styl"
@import "_util/sprites.styl"

// подключаем отдельные блоки десктоп верстки

@import "tablet/common.styl"
@import "tablet/header.styl"
@import "tablet/advantages.styl"
@import "tablet/services.styl"
@import "tablet/top-panel.styl"
@import "tablet/feedback.styl"
@import "tablet/guarantees.styl"
@import "tablet/become-partner.styl"
@import "tablet/about.styl"
@import "tablet/footer.styl"
