@import "_util/variables.styl"
@import "_util/mixins.styl"

// подключаем отдельные блоки десктоп верстки
@import "tablet/header.styl"
@import "tablet/forecasts.styl"
@import "tablet/feedback.styl"
@import "tablet/become-partner.styl"
@import "tablet/about.styl"