extends layout/main

block content
    include index/_header
    include index/_forecasts
    include index/_feedback
    include index/_guarantees
    include index/_become-partner
    include index/_about
    include index/_modals
    include index/_telegram-widget
