/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$feedback_next_name = 'feedback_next';
$feedback_next_x = 108px;
$feedback_next_y = 40px;
$feedback_next_offset_x = -108px;
$feedback_next_offset_y = -40px;
$feedback_next_width = 32px;
$feedback_next_height = 31px;
$feedback_next_total_width = 148px;
$feedback_next_total_height = 107px;
$feedback_next_image = '~sprites.png';
$feedback_next = 108px 40px -108px -40px 32px 31px 148px 107px '~sprites.png' 'feedback_next';
$feedback_prev_name = 'feedback_prev';
$feedback_prev_x = 108px;
$feedback_prev_y = 71px;
$feedback_prev_offset_x = -108px;
$feedback_prev_offset_y = -71px;
$feedback_prev_width = 32px;
$feedback_prev_height = 31px;
$feedback_prev_total_width = 148px;
$feedback_prev_total_height = 107px;
$feedback_prev_image = '~sprites.png';
$feedback_prev = 108px 71px -108px -71px 32px 31px 148px 107px '~sprites.png' 'feedback_prev';
$instagram_name = 'instagram';
$instagram_x = 67px;
$instagram_y = 0px;
$instagram_offset_x = -67px;
$instagram_offset_y = 0px;
$instagram_width = 41px;
$instagram_height = 41px;
$instagram_total_width = 148px;
$instagram_total_height = 107px;
$instagram_image = '~sprites.png';
$instagram = 67px 0px -67px 0px 41px 41px 148px 107px '~sprites.png' 'instagram';
$telegram_blue_name = 'telegram_blue';
$telegram_blue_x = 0px;
$telegram_blue_y = 0px;
$telegram_blue_offset_x = 0px;
$telegram_blue_offset_y = 0px;
$telegram_blue_width = 67px;
$telegram_blue_height = 67px;
$telegram_blue_total_width = 148px;
$telegram_blue_total_height = 107px;
$telegram_blue_image = '~sprites.png';
$telegram_blue = 0px 0px 0px 0px 67px 67px 148px 107px '~sprites.png' 'telegram_blue';
$telegram_name = 'telegram';
$telegram_x = 0px;
$telegram_y = 67px;
$telegram_offset_x = 0px;
$telegram_offset_y = -67px;
$telegram_width = 40px;
$telegram_height = 40px;
$telegram_total_width = 148px;
$telegram_total_height = 107px;
$telegram_image = '~sprites.png';
$telegram = 0px 67px 0px -67px 40px 40px 148px 107px '~sprites.png' 'telegram';
$vk_name = 'vk';
$vk_x = 40px;
$vk_y = 67px;
$vk_offset_x = -40px;
$vk_offset_y = -67px;
$vk_width = 40px;
$vk_height = 40px;
$vk_total_width = 148px;
$vk_total_height = 107px;
$vk_image = '~sprites.png';
$vk = 40px 67px -40px -67px 40px 40px 148px 107px '~sprites.png' 'vk';
$whatsapp_name = 'whatsapp';
$whatsapp_x = 108px;
$whatsapp_y = 0px;
$whatsapp_offset_x = -108px;
$whatsapp_offset_y = 0px;
$whatsapp_width = 40px;
$whatsapp_height = 40px;
$whatsapp_total_width = 148px;
$whatsapp_total_height = 107px;
$whatsapp_image = '~sprites.png';
$whatsapp = 108px 0px -108px 0px 40px 40px 148px 107px '~sprites.png' 'whatsapp';
$spritesheet_width = 148px;
$spritesheet_height = 107px;
$spritesheet_image = '~sprites.png';
$spritesheet_sprites = $feedback_next $feedback_prev $instagram $telegram_blue $telegram $vk $whatsapp;
$spritesheet = 148px 107px '~sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
