.services
  display flex
  flex-wrap wrap
  max-width 800px
  justify-content center
  flex-direction column
  &__link
    display block
    min-height 90px
    text-align center
    &_first
      order -1
  &__img
    max-width 200px